.row{
    margin: 0 !important;
}

.row>*{
    margin: 0 !important;
    padding: 0 !important;
}

.navbar-brand{
    margin-right: 0 !important;
}

ul{
    list-style: none;
}

ul a{
    color: black !important;
}


a{
    text-decoration: none !important;
}

.card{
    height: 224px !important;
    margin-bottom: 32px !important;
}

#login{
    height: 100vh;
}


/* Paddding */

.p-0{
    padding: 0 !important;
}

.pRL-128{
    padding-left: 128px !important;
    padding-right: 128px !important;
}

.pR-16{
    padding-right: 16px !important;
}

.pR-32{
    padding-right: 32px !important;
}

.pL-32{
    padding-left: 32px !important;
}

/* Margin */

.m-0{
    margin: 0 !important;
}

.mR-8{
    margin-right: 8px !important;
}

.mR-16{
    margin-right: 16px !important;
}

.mR-32{
    margin-right: 32px !important;
}

.mL-16{
    margin-left: 16px !important;
}

.mL-32{
    margin-left: 32px !important;
}

.mL-8{
    margin-left: 8px !important;
}

.mB-8{
    margin-bottom: 8px !important;
}

.mB-16{
    margin-bottom: 16px !important;
}

.mB-32{
    margin-bottom: 32px !important;
}

.mB-64{
    margin-bottom: 64px !important;
}

.mT-16{
    margin-top: 16px !important;
}

.mT-32{
    margin-top: 32px !important;
}

.mT-128{
    margin-top: 128px !important;
}